a:hover {
    text-decoration: none
}


.app {
    padding: 30px 0;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

img {
    width: 100%;
    height: auto;
}

.thumbnail {
    margin-bottom: 10px;
}

.caption {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.list-item {
    padding: 15px;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transition: .3s ease;
}

.content{
    padding: 15px;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
}

.sidebar{
    padding: 15px;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
}

.list-item:hover{
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.25);
}

.list-price {
    margin-left: auto;
    font-weight: 800;
}

.list-title {
    display: inline-block;
    font-weight: 600;
}

.desc {
    font-size: 15px;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-btn {
    padding: 6px 12px;
    font-size: 14px;
    margin-right: 5px;
}

.more-link {
    padding: 6px 12px;
    border: 1px solid #d3d3d3;
    font-size: 14px;
    margin-left: 5px;
}


.more-btn{
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    padding: 6px 12px;
}

.page-title{
    display: flex;
    justify-content: space-between;
}

.column{
    display: flex;
    align-items: flex-start;
}

.details-title{
    font-weight: 600;
    margin-right: 15px;
}

.btn-click{
    font-size: 14px;
    padding: 6px 12px;
    width: 100%;
}

.phone-name{
    font-weight: 600;
}

.cart{
    margin-bottom: 15px;
}

.from-wrapper .input-group{
    flex-wrap: nowrap;
}

.from-wrapper{
    margin-bottom: 15px;
}

.from-wrapper .form-control{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    outline: none;
}

.from-wrapper .form-control:focus{
    box-shadow: unset;
}

.search-btn{
    border: 1px solid #ced4da;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 0;
}

.search-btn:focus{
    box-shadow: unset;
}

.sidebar-title{
    font-weight: 100;
    font-size: 20px;
    text-align: center;
}

.category-item{
    padding: 8px 15px;
    color: #222;
}
